<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="imageProvider" name="imageProvider" schema="schema/imageProvider.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Exemple de catégorie"
            id="eclipse.project.Overlay">
      </category>
      <view
            name="Vue principale"
            icon="icons/sample.gif"
            category="eclipse.project.Overlay"
            class="eclipse.project.overlay.views.MainViewPerso"
            id="eclipse.project.overlay.views.MainView">
      </view>
      <view
            category="eclipse.project.Overlay"
            class="eclipse.project.overlay.views.ImageView"
            icon="icons/sample.gif"
            id="eclipse.project.overlay.views.ImageView"
            name="Vue image">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="eclipse.project.overlay.views.MainView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
